@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Warna Kustom Sesuai Permintaan */
  --background-ivory: #F8F6F1; /* Krem Hangat */
  --button-green: #04442B;      /* Hijau Tua */
  --text-gold: #B8860B;         /* Emas */
}